.markdown-content{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}
.markdown-content h1{
    text-align: center;
    font-size: 2.3rem;
}
.markdown-content h1,
.markdown-content h2
{
    padding: 10px 0;
    border-bottom: 1px solid #333;
    margin: 12px 0;
}

.markdown-content h3,
.markdown-content h4{
    margin-top: 20px;
}

.markdown-content hr{
    margin: 32px 0;
    height: 5px;
    background: #3d4d3d;
    border: none;
}

.markdown-content ul{
    margin-left: 16px;
}
.markdown-content ol{
    margin-left: 32px;
}
.markdown-content ol > li,
.markdown-content ul > li{
    margin-bottom: 2px;
}
.markdown-content ol > li::marker,
.markdown-content ul > li::marker{
    color:yellow;
}

li:has(input[type="checkbox"]) {
    list-style-type: none;
    padding-left: 0;
}
.markdown-content a{
    color: yellow
}
.markdown-content a:visited{
    color: orange;
}
.markdown-content *{
    text-wrap: wrap;
    word-break: break-all;
    hyphens: auto;
}

code {
    max-height: 25rem;
    overflow-y: auto;
    background: #65766c33;
    padding: 0.2em 0.4em;
    border-radius: 6px;
    line-height: 1.5rem;
    white-space: break-spaces;
    font-size: 0.8rem;
}
.code-block-container {
  border: 1px solid #444;
  border-radius: 6px;
  margin: 1em 0;
  overflow: hidden;
  background: #0d1711;
}

.code-header {
  background: #16221b;
  color: #c9d1d9;
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.4em 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #303d36;
}

.lang-label {
  font-weight: bold;
  opacity: 0.8;
}

.copy-btn {
  background: none;
  border: 1px solid #555;
  color: #c9d1d9;
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 4px;
}

.copy-btn:hover {
  background: #303d36;
}

