<div class="header">  
  <nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="/" class="navbar__link"><i class="fas fa-search"></i><span>Home</span> </a>
      </li>
      <li class="navbar__item">
        <a href="/new" class="navbar__link"><i class="far fa-file-alt"></i><span>New</span></a>        
      </li>
      <li class="navbar__item">
        <a href="/docs" class="navbar__link"><i class="fas fa-list"></i><span>List</span></a>        
      </li>
    </ul>
  </nav>
</div>
