<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/writeup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hljs.css') }}">
</head>
<body>
    {% include 'navbar.html' %}

    <main>
        <form action="">
            <div class="tags">
                <h2>Tags: </h2>
                <ul id='taglist'></ul>
            </div>

            <div class="display">
                <header>
                    <div class='header-toggle'>
                    <button type='button'> Edit </button>
                    <button type='button'> Preview </button>
                    </div>
                </header>
                <textarea name="editor" id="editor"></textarea>
                <div id="preview" class='markdown-content'>

                </div>
            </div>
            <button id="finish" type='button'><i class='fas fa-check'></i>Done</button>
        </form>
        
    </main>

    <script src="{{ url_for('static', filename='js/new.js') }}"></script>
    <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</body>
</html>


